<div class="page-header">
	<h3>Buscar Entorno: </h3><input type="text" size="75" ng-model="searchBoxEntorno">
	<h1>
		<a href="/catalogos" class="btn btn-primary">Vista Catalogos</a>	
		<a href="/entregables" class="btn btn-primary">Vista Entregables</a>	
	</h1>
</div>
<div class="jumbotron text-center" ng-show="entregable.entregando">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Cargando Entorno...</p>
</div>

<table class="table table-bordered table-striped" ng-show="entorno.entornos">
	<thead>
		<tr>
			<th>Entregable</th>
			<th>Fecha Preproducción</th>
			<th>Fecha Demo</th>
			<th>Fecha Integración</th>
			<th>Fecha Laboratorio</th>
			<th>Fecha Desarrollo</th>
			<th class="col-sm-2">Operación</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="desplegado in entorno.entornos | filter: searchBoxEntorno">
			<td>{{ desplegado.entregable.nombre }}</td>
			<td class="col-sm-2">
				<input type="date" id="dt1" class="form-control input-sm"
			       datetimepicker
			       ng-model="desplegado.fecha_pre"
			       placeholder="..."
			       name="time"
			       readonly="true" 
			       format-date>	
			</td>	
			<td class="col-sm-2">
				<input type="date" id="dt1" class="form-control input-sm"
			       datetimepicker
			       ng-model="desplegado.fecha_demo"
			       placeholder="..."
			       name="time"
			       readonly="true" 
			       format-date>	
			</td>
			<td class="col-sm-2">
				<input type="date" id="dt1" class="form-control input-sm"
			       datetimepicker
			       ng-model="desplegado.fecha_int"
			       placeholder="..."
			       name="time"
			       readonly="true" 
			       format-date>	
			</td>
			<td class="col-sm-2">
				<input type="date" id="dt1" class="form-control input-sm"
			       datetimepicker
			       ng-model="desplegado.fecha_lab"
			       placeholder="..."
			       name="time"
			       readonly="true" 
			       format-date>	
			</td>						
			<td class="col-sm-2">
				<input type="date" id="dt1" class="form-control input-sm"
			       datetimepicker
			       ng-model="desplegado.fecha_dev"
			       placeholder="..."
			       name="time"
			       readonly="true" 
			       format-date>	
			</td>
			<!--<td>{{ servicio.entregable }}</td>
			<td>{{ servicio.entorno }}</td>
			
			-->
			<td class="col-sm-2">
				<a ng-href="/entornos/editar/{{ desplegado._id }}" title="Editar" class="btn btn-default">
					<span class="glyphicon glyphicon-edit"></span>
				</a>
				<a href="#" ng-click="entorno.deleteEntorno(desplegado._id)" title="Borrar"class="btn btn-danger">
					<span class="glyphicon glyphicon-remove-circle"></span>
				</a>
			</td>		
		</tr>
	</tbody>
</table>

<div>
		<p><a href="#" ng-click="main.volverCatalogoList()" class="btn btn-sm btn-primary">Volver</a></p>
</div>
