<div class="page-header">
	<h3 ng-if="entorno.type == 'create'">Dar de Alta Entorno</h3>
	<h3 ng-if="entorno.type == 'edit'">Editar Entorno</h3>
</div>

<form class="form-horizontal" ng-submit="entorno.saveEntorno()">

	<div class="form-group">
		<label class="col-sm-2 control-label">Fecha Preproducción</label>
		<div class="col-sm-6">
			<input type="date" id="dt1" class="form-control input-sm"
			       datetimepicker
			       ng-model="entorno.entornoData.fecha_pre"
			       placeholder="..."
			       name="time"
			       format-date>			
		</div>
	</div>
	
	<div class="form-group">
		<label class="col-sm-2 control-label">Fecha Demo</label>
		<div class="col-sm-6">
				<input type="date" id="dt1" class="form-control input-sm"
			       datetimepicker
			       ng-model="entorno.entornoData.fecha_demo"
			       placeholder="..."
			       name="time"
			       format-date>	
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label">Fecha Integración</label>
		<div class="col-sm-6">
				<input type="date" id="dt1" class="form-control input-sm"
			       datetimepicker
			       ng-model="entorno.entornoData.fecha_int"
			       placeholder="..."
			       name="time"
			       format-date>	
		</div>
	</div>	

	<div class="form-group">
		<label class="col-sm-2 control-label">Fecha Laboratorio</label>
		<div class="col-sm-6">
				<input type="date" id="dt1" class="form-control input-sm"
			       datetimepicker
			       ng-model="entorno.entornoData.fecha_lab"
			       placeholder="..."
			       name="time"
			       format-date>	
		</div>
	</div>	
	<div class="form-group">
		<label class="col-sm-2 control-label">Fecha Desarrollo</label>
		<div class="col-sm-6">
				<input type="date" id="dt1" class="form-control input-sm"
			       datetimepicker
			       ng-model="entorno.entornoData.fecha_dev"
			       placeholder="..."
			       name="time"
			       format-date>	
		</div>
	</div>			
	<div class="form-group">
	<div class="col-sm-offset-2 col-sm-6">
		<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="entorno.type == 'create'">Crear Entorno</button>
		<button type="submit" class="btn btn-success btn-lg btn-block" ng-if="entorno.type == 'edit'">Editar Entorno</button>
				<br>
				<p><a href="#" ng-click="main.volverEntornoList()" class="btn btn-sm btn-primary">Volver</a></p>
	</div>
	</div>

</form>

<div class="row show-hide-message" ng-show="entorno.message">
	<div class="col-sm-6 col-sm-offset-2">

		<div class="alert alert-info">
			{{ entorno.message }}
		</div>

	</div>
</div>
