<div class="page-header">
	<h3>Buscar Entregable: </h3><input type="text" size="75" ng-model="searchBoxEntregable">
	<h1>
		<a href="/catalogos" class="btn btn-default">
			<span class="glyphicon glyphicon-collapse-down"></span>
			Vista Catalogos
		</a>
		<a href="/consumidores" class="btn btn-default">
			<span class="glyphicon glyphicon-collapse-down"></span>
			Vista Consumidores
		</a>
		<a href="/canales" class="btn btn-default">
			<span class="glyphicon glyphicon-collapse-down"></span>
			Vista Canales
		</a>		
	</h1>
</div>
<div class="jumbotron text-center" ng-show="entregable.entregando">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Cargando Entregable...</p>
</div>

<table class="table table-bordered table-striped" ng-show="entregable.entregables">
	<thead>
		<tr>
			<th>Servicio</th>
			<th>Entregable</th>
			<th>Entorno Actual</th>
			<th>Fecha Producción</th>
			<th class="col-sm-2">Operación</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="entregado in entregable.entregables | filter: searchBoxEntregable">
			<td>{{ entregado.catalogo.servicio }}</td>
			<td>{{ entregado.nombre }}</td>
			<td>{{ entregado.entorno }}</td>
			<td class="col-sm-2">
				<input type="date" id="dt1" class="form-control input-sm"
			       datetimepicker
			       ng-model="entregado.fecha_prod"
			       placeholder="..."
			       name="time"
			       readonly="true" 
			       format-date>	
			</td>			
			<!--<td>{{ servicio.entregable }}</td>
			<td>{{ servicio.entorno }}</td>
			
			-->
			<td class="col-sm-2">
				<a ng-href="/entregables/editar/{{ entregado._id }}" title="Editar" class="btn btn-default">
					<span class="glyphicon glyphicon-edit"></span>
				</a>
				<a href="#" ng-click="entregable.deleteEntregable(entregado._id)" title="Borrar"class="btn btn-danger">
					<span class="glyphicon glyphicon-remove-circle"></span>
				</a>
			</td>		
		</tr>
	</tbody>
</table>

<div>
		<p><a href="#" ng-click="main.volverCatalogoList()" class="btn btn-sm btn-primary">Volver</a></p>
</div>
