<div class="page-header">
	<h1>
		<a href="/catalogos/create" class="btn btn-default">
			<span class="glyphicon glyphicon-plus"></span>
			Nuevo Catalogo
		</a>
		<a href="/entregables" class="btn btn-default">
			<span class="glyphicon glyphicon-collapse-down"></span>
			Ver Entregables
		</a>
	</h1>
</div>

</div>
<div class="jumbotron text-center" ng-show="catalogo.evaluando">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Cargando Catalogo...</p>
</div>

<table class="table table-bordered table-striped" ng-show="catalogo.catalogos">
	<thead>
		<tr>
			<th>Servicio</th>
			<!--<th>Proceso</th>
			<th>Entregable</th>
			<th>Entorno</th>
			<th>Fecha Producción</th>
			-->
			<th>Canal</th>
			<th>Consumidor</th>
			<th class="col-sm-2"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="servicio in catalogo.catalogos">
			<td>
				<a href="#" ng-href="/entregables/{{ servicio._id }}">
				{{ servicio.servicio }}
				</a>
			</td>
					
			
			<!--<td>{{ servicio.proceso }}</td>
			<td>{{ servicio.entregable }}</td>
			<td>{{ servicio.entorno }}</td>
			<td class="col-sm-2">
				<input type="date" id="dt1" class="form-control input-sm"
			       datetimepicker
			       ng-model="servicio.fecha_prod"
			       placeholder="..."
			       name="time"
			       readonly="" 
			       format-date>	
			</td>
			-->
			<td>{{ servicio.canal }}</td>
			<td>{{ servicio.consumidor }}</td>
			<td class="col-sm-2">
				<a ng-href="/catalogos/{{ servicio._id }}" class="btn btn-primary">Editar</a>
				<a href="#" ng-click="catalogo.deleteCatalogo(servicio._id)" class="btn btn-danger">Borrar</a>
			</td>			
		</tr>
	</tbody>
</table>
