<div class="page-header">
	<h3>Buscar Servicio: </h3><input type="text" size="75" ng-model="searchBox">
	<h1>
		<a href="/catalogos/create" class="btn btn-primary">Nuevo Catalogo</a>
		<a href="/entregables" class="btn btn-primary">Vista Entregables</a>	
		<a href="/consumidores" class="btn btn-primary">Vista Consumidores</a>			
	</h1>
</div>

</div>
<div class="jumbotron text-center" ng-show="catalogo.evaluando">
	<span class="glyphicon glyphicon-repeat spinner"></span>
	<p>Cargando Catalogo...</p>
</div>

<table ng-table="tableParams" class="table table-bordered table-striped" ng-show="catalogo.catalogos">
	<thead>
		<tr>
			<th class="col-sm-2">Búsqueda Filtrada</th>
			<th>
	          <a href="#" ng-click="sortType = 'servicio'; sortReverse = !sortReverse">
	            Servicio
	          </a>
			</th>
			<!--<th>Proceso</th>
			<th>Entregable</th>
			<th>Entorno</th>
			<th>Fecha Producción</th>
			-->
			<th class="col-sm-2">Operación</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="servicio in $data | filter: searchBox | orderBy:sortType:sortReverse">
			<td>
				<a ng-href="/b_entregables/{{ servicio._id }}" title="Buscar Entregables del Servicio" class="btn btn-default">
					<span class="glyphicon glyphicon-search"></span>
				</a>
				<a ng-href="/b_consumidores/{{ servicio._id }}" title="Buscar Consumidores del Servicio" class="btn btn-default">
					<span class="glyphicon glyphicon-search"></span>
				</a>
			</td>
			<td>
				{{ servicio.servicio }} 
			</td>
					
			<!--<td>{{ servicio.proceso }}</td>
			<td>{{ servicio.entregable }}</td>
			<td>{{ servicio.entorno }}</td>
			<td class="col-sm-2">
				<input type="date" id="dt1" class="form-control input-sm"
			       datetimepicker
			       ng-model="servicio.fecha_prod"
			       placeholder="..."
			       name="time"
			       readonly="" 
			       format-date>	
			</td>
			-->
			<td class="col-sm-2">
				<a ng-href="/a_entregables/{{ servicio._id }}" title="Dar de Alta Entregable" class="btn btn-default">
					<span class="glyphicon glyphicon-plus"></span>
				</a>	
				<a ng-href="/a_consumidores/{{ servicio._id }}" title="Dar de Alta Consumidor" class="btn btn-default">
					<span class="glyphicon glyphicon-plus"></span>
				</a>						
				<a ng-href="/catalogos/{{ servicio._id }}" title="Editar Catálogo" class="btn btn-default">
					<span class="glyphicon glyphicon-edit"></span>
				</a>
				<a href="#" ng-click="catalogo.deleteCatalogo(servicio._id)" title="Borrar Catálogo"class="btn btn-danger">
					<span class="glyphicon glyphicon-remove-circle"></span>
				</a>
			</td>			
		</tr>
	</tbody>
</table>
